nav{
    background-image: url(./81f3ff974d82520780078ba1cfbd453a1583259680.avif);
    background-repeat: no-repeat;
    background-size: cover;


    
}
.la{
    font-size: 1.6rem;
    color: white;
    font-size: 1.81rem;
    padding: 30px;
    
}
 .laa{
    text-align: right ;
    }
    
h1,h2{
    color: white;
    text-align: center;
    
    
    
   
}
h4{
    font-size: 30px;
    text-align: center;
    color: rgb(250, 31, 31);
}
h5{
    text-align: center;
    border-color: rgb(75, 14, 198);
}
h1{
    font-size: 08rem;
    margin: 5rem;
    
}

h2{
    font-size: 38px;
    padding: 90px;
    
}
.lk1{
    position: relative;
    bottom: 190px;
    left: 100px;
    color: rgb(246, 243, 243);
    font-weight: 900;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: 2px underline;
    text-underline-offset: 5px;
}
.lk2{
    position: relative;
    bottom: 220px;
    left: 570px;
    color: rgb(17, 17, 17);
    font-weight: 900;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: 2px underline;
    text-underline-offset: 5px;
    
}
.lk4{
    position: relative;
    bottom: 252px;
    left: 950px;
    color: rgb(20, 17, 17);
    font-weight: 900;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-decoration: 2px underline ;
    text-underline-offset: 5px;
}

.lv{
    text-align: center;
    font-size: 2.1rem;
}
.lv2{
    font-size: 1.9rem;
}
.lv3{ margin-left: 70px;
    border: 10px solid;
    border-color: rgb(248, 34, 34);
    


}
.lv4{
    padding-left:130px ;
   
  
    

}
.lv5{
    margin-left: 150px;
    border: 10px solid;
    border-color: rgb(248, 34, 34);
}

.lv6{
    margin-left: 70px;
}
.lvv1{
    font-size: small;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Lavan1{
    max-width: 1170px;
    margin: auto;
}
.Lavan2{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}
.footer {
    background-color: black;
    padding: 70px 0;

}
.lavan3{

    width: 25%;
    padding:0 15px ;

}
.lavan3 h3{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}
.lavan3 h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:#f40f0f;
    height: 2px;
    box-sizing: border-box;
    width: 50px;


}
.lavan3 ul li:not(:last-child){
     margin-bottom:10px;
}

.lavan3 ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;


}
.lavan3 ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}
.lavan3 .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255, 255, 0.2);
    color: #ffffff;
    margin: 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;

}
.lavan3 .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
